{% extends "about/header.html" %}
{% block content %}
<div class="span6">
  <h5>Would you hire Connor?</h5>
  <strong>Yes</strong><span class="pull-right">{{yes}}</span>
  <div class="progress">
    <div class="progress-bar" role="progress" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:{{yes}}%">
    </div>
  </div>
  <p><a href="yes" class="btn btn-large btn-success">Vote Yes</a></p>
  <strong>Maybe</strong><span class="pull-right">{{maybe}}</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:{{maybe}}%">
    </div>
  </div>
  <p><a href="maybe"  class="btn btn-large btn-success">Vote Maybe</a></p>
  <strong>No</strong><span class="pull-right">{{no}}</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:{{no}}%">
    </div>
  </div>
  <p><a href="no" class="btn btn-large btn-success">Vote No</a></p>
</div>
{% endblock %}
