{% extends "about/header.html" %}
{% block content %}
<h3>Overview</h3>
<p>Hey! This is a project to demonstrate my abilities as a developer!</p>
<p>I built the website using Django and Bootstrap for model/view, AWS for the database, and Docker for deployment.</p>
<p>AWS components consist of a API Gateway endpoint for GET/PUT, Lambda to handle the requests and pass body to a dynamoDB table for static storage. Will add a cloudformation template soon.</p>
<p>Deployment is a public docker image that requires an environment variable file that includes secret values and resource URLs. Supports both docker-compose and docker run with a entrypoint script.</p>

<h3>Qualifications</h3>
<h4>Backend Experience</h4>
<ul>
  <li>Built multiple AWS resource stacks to handle a variety of RESTful API calls, and scaling databases in response to large data dumps. </li>
  <li>Developing and documenting API calls for teams to GET, POST and PUT information into or from databases. Similar to the AWS stack used in this project, they consisted of an API Gateway, Lambda, and a dynamoDB table. The requests needed to be secure and cleanly handle input.</li>
  <li>Responsible for researching, prototyping and deploying an AWS solution for handling multiple docker containers during internship. Designed the Docker container blueprint and ECS stack that is currently being used in production. </li>
</ul>
<h4>CI/CD Process</h4>
<ul>
  <li>Helped maintain a Jenkins server that was used to do a variety of functional tests on most recent commits.</li>
  <li>Wrote multiple CloudFormation documents to deploy projects developed in AWS. This required integrating with the existing deployment process and writing additional scripts to streamline deploying.</li>
  <li>Implemented a new test suite to help control which tests needed to be ran, and helped smooth the existing testing process.</li>
  <li>Introduced Python Virtual Environments to the deployment process reducing dependency problems, and giving the option of testing different repositories on the same Jenkins machine.</li>
</ul>
<h4>Workplace Experience</h4>
<ul>
  <li>Over 40% of my time at the internship was used to write documentation, research reports and updates. This is my writeup on <a href="https://docs.google.com/document/d/1kd0CH-t9SWU44HPFSUT_XYbTCD1TjW6Ro3USDjkxjCY/edit?usp=sharing">Pip</a></li>
  <li>3 years of Git experience. Familiar with having multiple forks and using merge requests/reviews to commit code back to the main repository.</li>
  <li>Worked with developing team to plan out and design future projects.</li>
  <li>Experience in a variety of agile environments both academically and professionally. Familiar with task time estimation, project assignment, and daily SCRUM meetings. </li>
  <li>Using a metric application that I built, I was required to analyze the data, and present weekly status reports during SCRUM meetings on how the data was being used. </li>
</ul>
<h4>Frontend Experience</h4>
<ul>
  <li>Django was used on another hackathon project to build a simplistic website for Hikeaway, a progressive hike suggestion application. Built a Django App to handle the users changing fitness level as they progress.</li>
  <li>Basic understanding of Javascript, but eager and willing to learn more.</li>
  <li>Took User Design class to better understand proper UX practices.</li>
</ul>
<h4></h4>
<h4>Linux</h4>
<ul>
  <li>Complete Linux user for over 8 years.</li>
  <li>Experience scripting deployment processes and repetitive tasks.</li>
  <li>Worked with virtual machines both personally and professionally.</li>
</ul>

{% endblock %}
